@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Order is expired</title>
</head>
<body>
    <div>
        <h3>Checkout form</h3>
        <p>Year of phone release is too old, please choose another order to purchase</p>
        <a href="~/Home/">Home</a>
    </div>
</body>
</html>