@model IEnumerable<MobileStore.Models.Phone>
@{
    //ViewData["Title"] = "Phone List";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Phone store</title>
</head>
<body>
<h3>Smartphones</h3>
<div>
    <a href="~/Home/PrivacyPolicy/">Privacy Policy</a> <a href="~/Registration/Registration/">Registration</a>
</div>

<table>
    <tr>
        <td>Model</td>
        <td>Manufacturer</td>
        <td>Price</td>
        <td>Year of release</td>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.Company</td>
            <td>@phone.Price</td>
            <td>@phone.ReleaseYear</td>
            <td>
                <a href="~/Home/Buy/@phone.Id">To buy</a>
            </td>
        </tr>
    }
</table>
</body>
</html>